* {
    margin: 0%;
    padding: 0%;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: pink;
}
.header {
    /* background-color: lightcoral; */
}
h1 {
    float: left;
    font-family: cursive;
    font-size: 75px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-top: 43px;
}
.myimage {
    /* width: 18%;
    height: 15%; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.cityimage {
    float: left;
    /* width: 36%;
    height: 28%; */
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 30px;
}
p {
    padding-left: 80px;
}
h2 {
    font-size: 35px;
    font-family: cursive;
    text-align: left;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 70px;
}
.city {
    /* background-color: lightsalmon; */
}
.box-1 {
    float: left;
    width: 50%;
}
.language {
    /* background-color: lightpink; */
}
h3 {
    font-family: cursive;
    font-size: 35px;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.par1 {
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
table, th, td {
    border-collapse: 1px black;
}
table {
    float: left;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 15px;
}
tr {
    background-color: rgb(173, 193, 209);
}
th {
    background-color: rgb(101, 125, 153);
    height: 70px;
}
td {
    text-align: center;
}
.places {
    display: flex;
    /* background-color:yellow; */
    overflow: hidden;
    position: relative;
    
}
.clearfix {
    clear: both;
}
.box {
    /* display: flex; */
    float: left;
    width: 33.33%;
}
.row::after {
    content: "";
    clear: both;
}
.row {
    float: left;
    width: 100%;
}
h4 {
    font-size: 28px;
    font-family: cursive;
    padding-bottom: 15px;
    padding-top: 15px;
}
ul, li {
    float: left;
}
.castle {
    float: right;
    padding-right: 35px;
    padding-bottom: 65px;
}
h5 {
    font-size: 28px;
    font-family: cursive;
    padding-bottom: 15px;
    padding-top: 15px;
}
.text1 {
    float: left;
    padding-left: 20px;
    padding-right: 40px;
}
.hall {
    float: right;
    padding-right: 35px;
    padding-bottom: 65px;
}
.text2 {
    float: left;
    padding-right: 40px;
}
.district {
    float: right;
    padding-right: 35px;
    padding-bottom: 65px;
}
h6 {
    font-size: 28px;
    font-family: cursive;
    padding-bottom: 15px;
    padding-top: 15px;
}
.text3 {
    float: left;
    padding-right: 40px;
}
.text {
    width: 50%;
    float: left;
}
.image {
    width: 50%;
    float: right;
}
hr {
    border: 2px solid rgb(117, 91, 167);
    border-radius: 5px;
}
@media(max-width: 650px) {
    .box {
        width: 100%;
        display: flex;
        background-color: brown;
    }
}
@media(max-width: 650px) {
    .places {
        width: 33.33%;
        display: flex;
        background-color: chartreuse;
    }
}
/* @media(max-width: 650) {
    .text {
        width: 50%;
        background-color: blue;
    }
} */
/* @media(max-width: 659px) {
    .image {
        width: 50%;
        background-color: pink;
    }
} */
/*
.bx1 {
    background-color: aqua;
    height: 50%;
    width: 50%;
}
.bx2 {
    background-color: red;
}
.bx3 {
    background-color: yellow;
}
.bx4 {
    background-color: blue;
}
.bx5 {
    background-color: pink;
}
.bx6 {
    background-color: brown;
}
.bx7 {
    background-color: coral;
}
.bx8 {
    background-color: darkgreen;
}
.bx9 {
    background-color: mediumslateblue;
}
.bx10 {
    background-color: olive;
}
.bx11 {
    background-color: salmon;
}
.bx12 {
    background-color: lemonchiffon;
}
.clearfix {
    clear: both;
}
@media(min-width: 300px) {
    .bx5 {
        width: 100%;
    }
}
@media(min-width: 300px) {
    .bx6 {
        width: 100%;
    }
}
/* @media(min-width: 300px) {
    .bx1 {
        width: 100%;
    }
}
@media(min-width: 300px) {
    .bx2 {
        width: 100%;
    }
} */
/* 
@media(max-width: 800px) {
    .bx3 {
        width: 100%;
    }
}
@media(max-width: 800px) {
    .bx4 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx7 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx8 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx9 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx10 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx11 {
        width: 100%;
    }
}
@media(max-width: 570px) {
    .bx12 {
        width: 100%;
    }
} */
