* {
    margin: 0%;
    padding: 0%;
}
body, html {
    background-color: pink;
    width: 100%;
    padding-right: 0%;
    margin-right: 0%;
    padding-left: 0%;
    margin-left: 0%;
}
h1 {
    padding-top: 40px;
    font-family: cursive;
}
.myimage {
    justify-content: center;
}
h5 {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    background-color: cadetblue;
}

table, th, td {
    border-collapse: 1px black;
}
table {
    float: left;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 15px;
}
tr {
    background-color: rgb(173, 193, 209);
}
th {
    background-color: rgb(101, 125, 153);
    height: 70px;
}
td {
    text-align: center;
}
h4, h5, h6 {
    text-align: center;
}

.image1 {
    float: right;
}
.image2 {
    float: right;
}
.image3 {
    float: right;
}
.castle {
    float: right;
}
h1 {
    margin-left: 40%;
}
@media(max-width: 720px) {
    .image2 {
        order: 1;
        float: left;
    }
    .mid2 {
        order: 2;
        margin-left: 10px;
        padding-left: 10px;
    }
    ul {
        padding-left: 10px;
        margin-left: 10px;
    }
    .myimage {
        justify-content: center;
        padding-left: 100px;
    }
}
/* .col-4 {
    display: flex;
    flex-direction: column;
} */


/* @media(max-width: 45em) { */
    /* .places {
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
    /* .mid {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .col-5 {
        display: flex;
        align-content: flex-start;
    }
    .col-7 {
        display: flex;
        align-content: flex-end;
        padding-right: 20px;
    }
} */

/*.places {
    display: flex;
    flex-direction: row;
/*.col-4 {
    display: flex;
    flex-direction: column;
    /* width: 33.33%; */
}
/* .col-6 {
    display: flex;
    flex-direction: row;
}
.text1 {
    /* display: flex; */
    /*align-content: flex-start;
}
.castle {
    display: flex;
    align-content: flex-end;
}
.text2 {
    /* display: flex; */
   /* align-content: flex-start;
}
.hall {
    display: flex;
    align-content: flex-end;
}
.text3 {
    /* display: flex; */
   /* align-content: flex-start;
}
.district {
    display: flex;
    align-content: flex-end;
}
@media(max-width:800px) {
    .places {
        display: flex;
        flex-direction: row;
    }
    .col-4 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .col-6 {
        display: flex;
        flex-direction: column;
    }
    .text1 .text2 .text3 {
        display: flex;
        width: 50%;
        align-content: flex-start;
    }
    .castle .hall .district {
        display: flex;
        width: 50%;
        align-content: flex-end;
    }
} */